{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'cal/css/styles.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap&subset=korean" rel="stylesheet">

  <title>Django Calendar App</title>
  

  <style>
      h3{
        text-align: center;
        font-family: 'Nanum Brush Script', cursive;
        font-size: 20px;
        font-weight: lighter;
      }
      ul{
          list-style-type:none;
      }
      li{
          float:right;
          margin-right: 40px; 
          text-align: center;
          font-family: cursive;
          font-size: 15px;
          font-weight: lighter;
      }
      a{
        color:black;
      }  
</style>

</head>
<body>
    <div style ="padding:20px">
        <div class="logo" style="border-bottom: 2px solid 	MistyRose; width:1100px; height:130px; margin: 0 auto; padding:20px;">
            <h1 style="text-align: center; font-family: fantasy; font-weight: bolder;">S c h e d u l e r</h1>
            <h3>- 동동이의 과제 다이어리 -</h3>
        </div>

        <div  class="nav-right" style="border-bottom: 2px solid 	MistyRose; width:1100px; height:40px; margin: 0 auto; padding:10px;">
                <ul >
                    <li><a href="{%url 'cal:event_new'%}">add</a></li>
                    <li><a href="{%url 'cal:calendar'%}">calendar</a></li>
                </ul>
        </div>
    </div>    
  <h2 class="title">{% block title %}{% endblock %}</h2>
  <hr>

  {% block content %}
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>

  {% block script %}
  {% endblock %}
</body>
</html>